.App {
  text-align: center;
}

.App-header {
  background-color: #181716;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.separator {
  display: block;
    position: absolute;
    right: 35vw;
    top: 15vh;
    border-radius: 10px;
    width: 5px;
    height: 80vh;
    background-color: rgb(132, 189, 255);
}
